.date-container{
    width: calc(100% / 7);
    height: calc(100% / 8);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.selection-container{
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.super-selected-background-first{
    background: linear-gradient(90deg, #94bdff 100%, #ffffff 0%);
}

.super-selected-background-last{
    background: linear-gradient(90deg, #ffffff 0%, #94bdff 100%);
}

.bold{
    color: black;
}

.soft{
    color: gray;
}

.selected{
    background-color: #94bdff;
}

.super-selected{
    background-color: #005aeb;
    border-radius: 50%;
    color: white;
}

